---
import { SITE_TITLE } from "@/consts";

const bottomCat = `
　　　　　／＞　 フ
　　　　　| 　_　 _|
　 　　　／\`ミ _x 彡
　　 　 /　　　 　 |
　　　 /　 ヽ　　 ﾉ
　／￣|　　 |　|　|
　| (￣ヽ＿_ヽ_)_)
　＼二つHave a nice day!
`;

const today = new Date();
---

<section
  id="footer"
  class="w-full grid relative place-items-center text-center py-4 bg-white/[0.001]"
>
  <p class="font-sans font-normal text-white/50 whitespace-pre text-left">
    {bottomCat}
  </p>
  <div class="px-10 py-3 border-2 border-white">
    &copy; {today.getFullYear()}
    {SITE_TITLE}. All rights reserved.
  </div>
</section>
