---
const { class: className } = Astro.props;
---

<script>
  const cellSize = 20 as const;

  const getRows = () => Math.floor((window.innerHeight * 1) / cellSize);
  const getColumns = () => Math.floor(window.innerWidth / cellSize);

  let rows = getRows();
  let columns = getColumns();
  const wrapper: HTMLDivElement = document.querySelector("#grid-wrapper")!;

  const createTile = () => {
    const tile = document.createElement("div");

    tile.classList.add("tile");
    tile.style.margin = "1px";
    tile.style.opacity = "0.8";

    return tile;
  };

  const createTiles = (quantity: number) => {
    Array.from(Array(quantity)).map(() => {
      wrapper.appendChild(createTile());
    });
  };

  const createGrid = () => {
    wrapper.innerHTML = "";

    columns = getColumns();
    rows = getRows();

    wrapper.style.setProperty("--columns", columns.toString());
    wrapper.style.setProperty("--rows", rows.toString());

    createTiles(columns * rows);
  };
  createGrid();

  window.addEventListener("resize", () => {
    if (rows !== getRows() || columns !== getColumns()) {
      createGrid();
    }
  });
</script>

<section class:list={["w-full", "overflow-hidden", className]}>
  <div id="wrapper-shadow" class="h-full w-full relative">
    <div id="grid-wrapper" class="h-full w-full grid gap-0 absolute"></div>
  </div>
</section>

<style is:global>
  .tile {
    background: #000;
  }
</style>
<style>
  #grid-wrapper {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
  }
  section {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cfilter id='svg-noise'%3E%3CfeTurbulence baseFrequency='0.7' seed='42' type='fractalNoise' result='static' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23svg-noise)' /%3E%3C/svg%3E"),
      radial-gradient(at 100% 100%, #f46200 0%, #0000 50%),
      radial-gradient(at 100% 0%, #7e00ff 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(at 0% 0%, #ec00ff 0%, rgba(0, 0, 0, 0) 70%), #ff0000;
  }
  #wrapper-shadow {
    height: 100vh;
    background: linear-gradient(to bottom, #000, #0000);
  }
  #wrapper-noise {
  }
  @keyframes bg-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }
</style>
