---
import type { HTMLAttributes } from "astro/types";
import { Button } from "@/components/ui/button";

type Props = HTMLAttributes<"a">;

const { href, class: className, "aria-label": label, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];

const finalClassName = `${className ?? ""} ${isActive ? "text-primary" : "text-foreground"}`;
---

<a href={href} {...props} aria-label={label}>
  <Button variant="outline" size="icon" className={finalClassName}>
    <slot />
  </Button>
</a>
