---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import {
  Pagination as PaginationRoot,
  PaginationContent,
  PaginationItem,
  PaginationNext,
  PaginationPrevious,
} from "@/components/ui/pagination";

type Props = {
  page: Page<CollectionEntry<"instances">>;
};

const { page } = Astro.props;
---

{
  page.lastPage > 1 && (
    <div class="mt-auto mb-8">
      <PaginationRoot>
        <PaginationContent>
          <PaginationItem>
            <PaginationPrevious 
              href={page.url.prev as string || "#"} 
              aria-disabled={!page.url.prev}
              className={!page.url.prev ? "pointer-events-none opacity-50" : ""}
            />
          </PaginationItem>
          
          <PaginationItem>
            <span class="text-sm font-medium mx-4 text-muted-foreground">
              Page {page.currentPage} of {page.lastPage}
            </span>
          </PaginationItem>

          <PaginationItem>
            <PaginationNext 
              href={page.url.next as string || "#"} 
              aria-disabled={!page.url.next}
              className={!page.url.next ? "pointer-events-none opacity-50" : ""}
            />
          </PaginationItem>
        </PaginationContent>
      </PaginationRoot>
    </div>
  )
}
