---
import IconHash from "@/assets/icons/IconHash.svg";
import { badgeVariants } from "@/components/ui/badge";
import { cn } from "@/lib/utils";

type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class={cn(
      badgeVariants({ variant: "secondary" }),
      "flex items-center gap-1 hover:bg-secondary/80 transition-colors focus-visible:no-underline",
      size === "lg" ? "text-sm py-1 px-3" : "text-xs py-0.5 px-2"
    )}
  >
    <IconHash class={cn("opacity-70", size === "lg" ? "size-4" : "size-3")} />
    {tagName}
  </a>
</li>
