---
import "@fontsource-variable/jetbrains-mono";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>elagouch(e) - portfolio</title>
	</head>

	<body class="flex flex-col gap-4 justify-center items-center">
		<div
			id="app"
			class="w-screen h-screen flex justify-start items-center overflow-hidden"
		>
			<div id="terminal" class="w-full h-full *:w-full *:h-full"></div>
		</div>
		<script type="module" src="/src/main.ts"></script>
	</body>
</html>

<style is:global>
	.xterm-rows * {
		font-family: "JetBrains Mono Variable", monospace;
	}
</style>
